<?xml version="1.0" encoding="UTF-8"?>
!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Main Test Suite" verbose="5">
<listeners>
	<listener class-name="com.training.happytrip.extentreport.ExtentReport" />
</listeners>
<parameter name="OS" value="Windows"/>
<parameter name="browser" value="Chrome"/>

  <test name="Extent Report Test">
   <classes>
     <class name="com.extentreport.BasicExtentReport"/>
    </classes>
  </test>
</suite>
